.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
.DS_Store
*.vsix
node_modules/
out/
src/language/generated/
syntaxes/
static/bundle/
static/monaco-editor-workers/
static/worker/