.vscode/**
.vscode-test/**
.gitignore
node_modules/
static/
test/
docs/
examples/
scripts/
src/
syntaxes/
bin/
tsconfig.json
bun.lockb
esbuild.mjs
index.html
langium-config.json
tsconfig.src.json
tsconfig.src.tsbuildinfo
vite.config.ts
vitest.config.ts